@charset "utf-8";

/* 공통사항 */
body { /*background: url("../img/body_bg.png");*/ background: #fff6eb; font-family: "Montserrat", "Noto Sans KR", sans-serif; font-size: 1.6rem; line-height: 1.5; color: #111; overflow-x: hidden; }
.inner { max-width: 1440px; padding: 0 20px; margin: 0 auto; }

#header { padding: 20px 0; }
#header .inner { display: flex; justify-content: space-between; align-items: center; max-width: 1740px; }
#header h1 a { font-size: 0; display: block; width: 100px; height: 100px; background: url(../img/yerin_logo_02.svg) no-repeat center ; }
#header .gnb { display: flex; }
#header .gnb > li > a { transition: all 0.5s; display: block; font-size: 2rem; padding: 10px 30px; text-transform: uppercase; font-weight: 700; }
#header .gnb > li:hover > a { color: #ffbae8; }
#header .ham { display: none; cursor: pointer; }
.dim { display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: fixed; left: 0; top: 0; }
.mgnb_wrap { z-index: 999999; position: fixed; right: -100%; top: 0; width: 80%; height: 100%; background: url("../img/body_bg.png"); padding: 100px 5vw; color: #111; }
.mgnb { border-top: 1px solid #111; border-bottom: 1px solid rgba(0,0,0,0.8); padding: 20px; }
.mgnb > li { font-size: 2rem; font-weight: 700; text-transform: uppercase; padding: 10px 0; }
.mgnb_close { position: absolute; right: 5vw; top: 50px; cursor: pointer; }

@media (max-width:1000px) {
  #header .gnb { display: none; }
  #header .ham { display: block; }
}

/* 공통 */
.section h2 { font-size: 8rem; }
.section h2::before { content: "P/R/O/J/E/C/T"; display: block; transform: translateY(10px); font-size: 1.6rem; letter-spacing: 1rem; opacity: 0.5; font-weight: 400; }
.section h2 + p { padding: 0 0 30px; font-size: 2rem; }
.tit { text-align: center; }
.btn a { background: #111; color: #fff; width: 100px; padding: 5px 0; border-radius: 50px; text-align: center; transition: all 0.5s; }
.btn a:hover { width: 120px; }

@media (max-width:1200px) {
  .section h2 { font-size: 6rem; }
}

@media (max-width:600px) {
  .section h2 { font-size: 4rem; }
  .section h2::before { font-size: 1.2rem; }
  .section h2 + p { font-size: 1.6rem; }
}

.visual { position: relative; text-align: center; }
.visual img { width: 100%; display: block; }
.visual h2 { position: absolute; left: 0; bottom: -60px; width: 100%; text-transform: uppercase; font-size: 12rem; color: #3d3c37; }

@media (max-width:1400px) {
  .visual h2 { font-size: 10rem; }
}

@media (max-width:1100px) {
  .visual h2 { font-size: 8rem; }
}

@media (max-width:900px) {
  .visual h2 { font-size: 6rem; }
}

@media (max-width:700px) {
  .visual h2 { font-size: 5rem; }
}

@media (max-width:600px) {
  .visual h2 { font-size: 4rem; }
}


@keyframes ani {
  0% { transform: rotate(-25deg); }
  50% { transform: rotate(25deg); }
  100% { transform: rotate(-25deg); }
}

.profile { text-align: center; margin: 200px 0; position: relative; color: #3d3c37; }
.profile::before { content: url(../img/layer-cloud.png); position: absolute; left: 20%; bottom: 80px; animation: ani 4s infinite both; }
.profile::after { content: url(../img/layer-cloud.png); position: absolute; right: 20%; top: 80px; animation: ani 8s infinite both; }
.profile h2::before { content: "A/R/I/M"; }
.profile .tit span { padding: 0 35px; font-size: 2.5rem; font-weight: 700; background: url("../img/quote_left.png") no-repeat 0 0,url("../img/quote_right.png") no-repeat right 0; }
.profile .info { line-height: 2.5; }
.profile .info .name { font-size: 2.5rem; font-weight: 700; position: relative; }
.profile .info .name::after { content: ""; width: 100px; height: 20px; background: rgba(242,230,0,0.5); position: absolute; left: calc(50% - 50px); bottom: 15px; transform: skewX(-10deg); z-index: -1; }
.profile .skill { margin-top: 30px; }
.profile .skill-list { margin-top: 10px; display: flex; flex-wrap: wrap; justify-content: center; gap: 10px; }
.profile .skill-list img { width: 3.5rem; height: 3.5rem; border-radius: 50%; }

@media (max-width:1400px) {
  .profile { margin: 150px 0; }
  .profile::before { content: url(../img/layer-cloud.png); left: 5%; bottom: 80px; animation: ani 4s infinite both; }
  .profile::after { content: url(../img/layer-cloud.png); right: 5%; top: 80px; animation: ani 8s infinite both; }
}

@media (max-width:1000px) {
  .profile::before { display: none; }
  .profile::after { display: none; }
}



.pf1 { background: url("../img/pf_bg-2.png") no-repeat center 0 / cover; padding: 160px 0 200px; color: #fff; }
.pf1 ul { display: flex; gap: 40px; flex-wrap: wrap; }
.pf1 ul li { width: calc((100% - 40px)/2); border-radius: 30px; overflow: hidden; background: #ffedf9; }
.pf1 ul li img { width: 100%; height: 100%; object-fit: cover; display: block; }
.pf1 ul li .pf-txt { padding: 40px; color: #333; }
.pf1 ul li .pf-txt h3 { font-size: 2rem; margin-bottom: 10px; }
.pf1 ul li .pf-txt .btn { display: flex; gap: 10px; margin-top: 30px; }
.pf1 ul li .pf-txt .btn a { background: #333; color: #fff;  }

@media (max-width:800px) {
  .pf1 { padding: 100px 0; }
  .pf1 ul li { width: 100%; }
  .pf1 ul li .pf-txt { padding: 20px; }
}


.pf2 { margin: 150px 0; }
.pf2 ul { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 40px; }
.pf2 ul li .pf-img { border-radius: 30px; overflow: hidden; margin-bottom: 20px; cursor: pointer; }
.pf2 ul li .pf-img img { width: 100%; transition: all 0.5s; }
.pf2 ul li:hover .pf-img img { transform: scale(1.2); }
.pf2 ul li .pf-txt { border-left: 5px solid #111; padding-left: 20px; }

@media (max-width:1200px) {
  .pf2 ul { grid-template-columns: 1fr 1fr; }
}

@media (max-width:600px) {
  .pf2 { margin: 100px 0; }
  .pf2 ul { grid-template-columns: 100%; }
}

.modal { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fff; overflow-y: auto; z-index: 999; }
.modal .modal-inner { max-width: 1200px; margin: 0 auto; padding: 100px 0; text-align: center; }
.modal .modal-inner h4 { font-size: 5rem; margin-bottom: 30px; }
.modal .modal-inner img { display: block; max-width: 100%; margin: 0 auto; }
.modal .modal-close-top { position: absolute; right: 50px; top: 50px; width: 60px; height: 60px; background: transparent; font-size: 0; cursor: pointer; }
.modal .modal-close-top::before { content: ""; display: inline-block; width: 100%; height: 1px; background: #333; transform: rotate(45deg); }
.modal .modal-close-top::after { content: ""; display: inline-block; width: 100%; height: 1px; background: #333; transform: rotate(-45deg); }
.modal .modal-close-bottom { background: #000; color: #fff; font-size: 1.4rem; padding: 10px 30px; border-radius: 5px; cursor: pointer; margin-top: 50px; }

#footer { position: relative; padding: 200px 0 100px; color: #fff; text-align: center; background: url("../img/contact_bg.png") no-repeat center 0 / cover; }
#footer .inner { display: flex; flex-direction: column; gap: 20px; }
#footer h2 { font-size: 5rem; }
#footer ul { display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; font-weight: 700; }
#footer .copy { font-size: 1.2rem; opacity: 0.5; }
#footer .gotop { position: absolute; width: 100%; left: 0; bottom: 0; }

@media (max-width:800px) {
  #footer { padding: 100px 0 50px; }
  #footer h2 { font-size: 3rem; }
  #footer ul { font-size: 1.4rem; }
}
